{% extends 'base.html' %}

{% block body %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script> 

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <p>Have you ever wondered where you've heard <i>that</i> VA before?</p>
  </div>
  <div class="col-2"></div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-sm-7 col-md-5 col-lg-4 col-xl-3">
    <form method=post>
      <div class="form-group">
        <label for="username">MyAnimeList user</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="vaid">
          Voice actor's MyAnimeList ID
          <button type="button" class="btn btn-outline-secondary btn-sm rounded-circle"
            data-toggle="popover" title="Where is this ID?"
            data-content="It's in the link to the VA's MAL page, e.g. 65 for https://myanimelist.net/people/65/Mamoru_Miyano">
            <i class="fas fa-info-circle"></i>
          </button>
        </label>
        <input type="text" class="form-control" id="vaid" name="vaid">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-dark btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>

{% endblock %}